<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<div class="container" style="background: url('https://ak8.picdn.net/shutterstock/videos/15121852/thumb/1.jpg') no-repeat; background-size: 100% 100%">

  <div class="text-center col-md-8 col-md-offset-2"  style="background-color: rgba(255, 255, 255, 0.8)">
    <header class="text-center"><img src="https://static1.squarespace.com/static/586c76466b8f5b6deb3d6942/58a33603f7e0abdf636c3434/58a33619cd0f68039a5f5d6f/1525807659422/grace.png" class="img-fluid main-image" style="height:30vh"></header>
    <h2>Welcome to the Seven Seas</h2>

    <div class="content")>
      <p>Seven seas...<br>
      Seven restful routes...<br>
      Seven days of studying web frameworks...<br>
      And now it's time to review with a Sinatra to Rails challenge!</p>
    </div>
    <a href="/seas" style="font-size: 250%"><i>SET SAIL ON YE MAIDEN VOYAGE</i></a>
    <div>
      <img src="https://media.giphy.com/media/gDllSSJi9Knew/giphy.gif" class="img-fluid main-image" style="height:30vh">
    </div>

  </div>
</div>
